<br/>
Dear <%= name %>,
<br/>
<br/>
We hope this email finds you well. We are pleased to announce that the results of the recent assessment have been published. You can now access your individual assessment results by clicking on the link provided below.
<br/><br/>
<a href="<%= result_link %>">Assessment Result</a>
<br/><br/>
Clicking on the link will redirect you to the website/app result details page, where you will find a comprehensive overview of your performance, including scores and any additional relevant information. Please note that you may need to log in to your account or provide your unique credentials to access the result details page.
<br/>
<br/>
Thank you once again for your participation, and we wish you continued success in your future endeavors. 
<br/>
<br/>
<br/>
Best regards,
<br/>
VIBGYOR HR TEAM
<br/>
Contact: bubbleminds@ampersandgroup.in
